language: python
python: 2.7
env:
  global:
    MANHOLE_TEST_TIMEOUT=30
    LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
  matrix:
    - TOXENV=check
    - TOXENV=2.6,coveralls
    - TOXENV=2.6-eventlet,coveralls
    - TOXENV=2.6-eventlet-nocover
    - TOXENV=2.6-eventlet-nocover-patchthread
    - TOXENV=2.6-eventlet-patchthread,coveralls
    - TOXENV=2.6-gevent,coveralls
    - TOXENV=2.6-gevent-nocover
    - TOXENV=2.6-gevent-nocover-patchthread
    - TOXENV=2.6-gevent-patchthread,coveralls
    - TOXENV=2.6-nocover
    - TOXENV=2.6-signalfd,coveralls
    - TOXENV=2.6-signalfd-eventlet,coveralls
    - TOXENV=2.6-signalfd-eventlet-nocover
    - TOXENV=2.6-signalfd-eventlet-nocover-patchthread
    - TOXENV=2.6-signalfd-eventlet-patchthread,coveralls
    - TOXENV=2.6-signalfd-gevent,coveralls
    - TOXENV=2.6-signalfd-gevent-nocover
    - TOXENV=2.6-signalfd-gevent-nocover-patchthread
    - TOXENV=2.6-signalfd-gevent-patchthread,coveralls
    - TOXENV=2.6-signalfd-nocover
    - TOXENV=2.7,coveralls
    - TOXENV=2.7-eventlet,coveralls
    - TOXENV=2.7-eventlet-nocover
    - TOXENV=2.7-eventlet-nocover-patchthread
    - TOXENV=2.7-eventlet-patchthread,coveralls
    - TOXENV=2.7-gevent,coveralls
    - TOXENV=2.7-gevent-nocover
    - TOXENV=2.7-gevent-nocover-patchthread
    - TOXENV=2.7-gevent-patchthread,coveralls
    - TOXENV=2.7-nocover
    - TOXENV=2.7-signalfd,coveralls
    - TOXENV=2.7-signalfd-eventlet,coveralls
    - TOXENV=2.7-signalfd-eventlet-nocover
    - TOXENV=2.7-signalfd-eventlet-nocover-patchthread
    - TOXENV=2.7-signalfd-eventlet-patchthread,coveralls
    - TOXENV=2.7-signalfd-gevent,coveralls
    - TOXENV=2.7-signalfd-gevent-nocover
    - TOXENV=2.7-signalfd-gevent-nocover-patchthread
    - TOXENV=2.7-signalfd-gevent-patchthread,coveralls
    - TOXENV=2.7-signalfd-nocover
    - TOXENV=3.2,coveralls
    - TOXENV=3.2-nocover
    - TOXENV=3.2-signalfd,coveralls
    - TOXENV=3.2-signalfd-nocover
    - TOXENV=3.3,coveralls
    - TOXENV=3.3-nocover
    - TOXENV=3.3-signalfd,coveralls
    - TOXENV=3.3-signalfd-nocover
    - TOXENV=3.4,coveralls
    - TOXENV=3.4-nocover
    - TOXENV=3.4-signalfd,coveralls
    - TOXENV=3.4-signalfd-nocover
    - TOXENV=pypy,coveralls
    - TOXENV=pypy-eventlet,coveralls
    - TOXENV=pypy-eventlet-nocover
    - TOXENV=pypy-eventlet-nocover-patchthread
    - TOXENV=pypy-eventlet-patchthread,coveralls
    - TOXENV=pypy-gevent,coveralls
    - TOXENV=pypy-gevent-nocover
    - TOXENV=pypy-gevent-nocover-patchthread
    - TOXENV=pypy-gevent-patchthread,coveralls
    - TOXENV=pypy-nocover
    - TOXENV=pypy-signalfd,coveralls
    - TOXENV=pypy-signalfd-eventlet,coveralls
    - TOXENV=pypy-signalfd-eventlet-nocover
    - TOXENV=pypy-signalfd-eventlet-nocover-patchthread
    - TOXENV=pypy-signalfd-eventlet-patchthread,coveralls
    - TOXENV=pypy-signalfd-gevent,coveralls
    - TOXENV=pypy-signalfd-gevent-nocover
    - TOXENV=pypy-signalfd-gevent-nocover-patchthread
    - TOXENV=pypy-signalfd-gevent-patchthread,coveralls
    - TOXENV=pypy-signalfd-nocover
before_install:
  - python --version
  - virtualenv --version
  - pip --version
  - uname -a
  - lsb_release -a
install:
  - pip install tox
script:
  - tox -v
notifications:
  email:
    on_success: never
    on_failure: always
