language: python

python:
  - "2.7"
  - "2.6"
  - "3.2"
  - "3.3"
  - "pypy"

env:
  global:
    PYTHONPATH=src:tests
    PYTHONUNBUFFERED=yes
  matrix:
    - RUN=01 WITH_COVERAGE=no
    - RUN=02 WITH_COVERAGE=yes
    #- RUN=03 WITH_COVERAGE=no
    #- RUN=04 WITH_COVERAGE=yes
    #- RUN=05 WITH_COVERAGE=no
    #- RUN=06 WITH_COVERAGE=yes
    #- RUN=07 WITH_COVERAGE=no
    #- RUN=08 WITH_COVERAGE=yes
    #- RUN=09 WITH_COVERAGE=no
    #- RUN=10 WITH_COVERAGE=yes
    #- RUN=11 WITH_COVERAGE=no
    #- RUN=12 WITH_COVERAGE=yes
    #- RUN=13 WITH_COVERAGE=no
    #- RUN=14 WITH_COVERAGE=yes
    #- RUN=15 WITH_COVERAGE=no
    #- RUN=16 WITH_COVERAGE=yes
    #- RUN=17 WITH_COVERAGE=no
    #- RUN=18 WITH_COVERAGE=yes
    #- RUN=19 WITH_COVERAGE=no
    #- RUN=20 WITH_COVERAGE=yes
    #- RUN=21 WITH_COVERAGE=no
    #- RUN=22 WITH_COVERAGE=yes
    #- RUN=23 WITH_COVERAGE=no
    #- RUN=24 WITH_COVERAGE=yes
    #- RUN=25 WITH_COVERAGE=no
    #- RUN=26 WITH_COVERAGE=yes
    #- RUN=27 WITH_COVERAGE=no
    #- RUN=28 WITH_COVERAGE=yes
    #- RUN=29 WITH_COVERAGE=no
    #- RUN=30 WITH_COVERAGE=yes
    #- RUN=31 WITH_COVERAGE=no
    #- RUN=32 WITH_COVERAGE=yes
    #- RUN=33 WITH_COVERAGE=no
    #- RUN=34 WITH_COVERAGE=yes
    #- RUN=35 WITH_COVERAGE=no
    #- RUN=36 WITH_COVERAGE=yes
    #- RUN=37 WITH_COVERAGE=no
    #- RUN=38 WITH_COVERAGE=yes
    #- RUN=39 WITH_COVERAGE=no
    #- RUN=40 WITH_COVERAGE=yes
    #- RUN=41 WITH_COVERAGE=no
    #- RUN=42 WITH_COVERAGE=yes
    #- RUN=43 WITH_COVERAGE=no
    #- RUN=44 WITH_COVERAGE=yes
    #- RUN=45 WITH_COVERAGE=no
    #- RUN=46 WITH_COVERAGE=yes
    #- RUN=47 WITH_COVERAGE=no
    #- RUN=48 WITH_COVERAGE=yes
    #- RUN=49 WITH_COVERAGE=no
    #- RUN=50 WITH_COVERAGE=yes
    
before_install:
  - |
    if python --version | grep PyPy; then
      wget https://bitbucket.org/pypy/pypy/downloads/pypy-2.1-linux64.tar.bz2;
      tar -xf pypy-2.1-linux64.tar.bz2;
      deactivate
      sudo rm -rf ~/virtualenv/pypy
      sudo virtualenv --python=pypy-2.1/bin/pypy ~/virtualenv/pypy
      source ~/virtualenv/pypy/bin/activate
      python --version
      ~/virtualenv/pypy/bin/python --version
    fi
    python --version
 
install: 
  - pip install python-signalfd
  - if [[ $WITH_COVERAGE == yes ]]; then pip install coverage coveralls; fi

script: 
  - rm .coverage* || true
  - stat /lib/x86_64-linux-gnu/libgcc_s.so.1
  - if [[ $WITH_COVERAGE == yes ]]; then coverage run --source=src --parallel-mode tests/test_manhole.py -v; else python tests/test_manhole.py -v; fi

after_success:
  - coverage combine || true
  - coverage report --show-missing --include='src/*' || true
  - coveralls || true
